body {
    background-color: white;
    background-image: radial-gradient(90deg, white 0%, #2eacd4) ;
}
    
.button{

        background-color: white;
    width: 100px;
    height:  30px;
    border-radius: 12px;
    border-color:lightblue ;
}
.lgButton{

        background-color: white;
    width: 150px;
    height:  30px;
    border-radius: 12px;
    border-color:lightblue ;
}
   
    





}



